<app-nav>

</app-nav>

<h1 class="text-center bg-success">
  About US
</h1>
<div  class="row">
  <div class="col-12 col-sm-4">
<img src="assets\aboutpic.jpg" class="img-fluid">
  </div>
  <div  class="col-12 col-sm-8">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore reiciendis
 eveniet omnis doloribus ipsa alias, aspernatur asperiores architecto iure repellat. Blanditiis soluta 
 accusamus nulla adipisci quod, quisquam facilis debitis!
 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore reiciendis
eveniet omnis doloribus ipsa alias, aspernatur asperiores architecto iure repellat. Blanditiis soluta 
accusamus nulla adipisci quod, quisquam facilis debitis!

Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore reiciendis
 eveniet omnis doloribus ipsa alias, aspernatur asperiores architecto iure repellat. Blanditiis soluta 
 accusamus nulla adipisci quod, quisquam facilis debitis!
  </div>
</div>

<br>
<app-footer></app-footer>