
<div class="motorinsurance" id="motor">
    <div>
     <h2 class="text-center p-1">Motor Insurance</h2>
    </div>
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-12 col-sm-6 border border-success p-3 psect">
    
           <h4 class="text-center">
<img class="logox" src="assets/carin.jpg">
             
              Car Insurance
          </h4>
          <p><b>Vehicle insurance</b> (also known as <b>car insurance</b>, <b>motor insurance</b> or <b>auto insurance</b>is insurance for cars, trucks, motorcycles, and other road vehicles. Its primary use is to provide financial protection against physical damage or bodily injury resulting from traffic collisions and against liability that could also arise from incidents in a vehicle. Vehicle insurance may additionally offer financial protection against theft of the vehicle, and against damage to the vehicle sustained from events other than traffic collisions, such askeying, weather or natural disasters, and damage sustained by colliding with stationary objects. The specific terms of vehicle insurance vary with legal regulations in each region.
          </p>
          <div class="text-center">
              <button class="btn btn-success" routerLink="/carinsurance"> 
            
                Compare Policies
             
              </button>
            </div> 
        </div>
        <div class="col-12 col-sm-6 border border-success  p-3 psect">
           <h4 class="text-center">
          <img class="logox" src="assets/2wheel.png">
             
              Two Wheeler Insurance
          </h4>
          <p><b>Two-wheeler insurance</b> is mandatory in India. Falling under the General insurance product category, it helps protect people against accidents that take place on the road. Active two wheeler insurance shields the vehicle owner from any unforeseen occurrences like the accident or any serious damage to the motor vehicle. A two-wheelerinsurance policy is provided by any of the authorized insurance companies registered under the Insurance Regulatory Development Authority of India (IRDAI).
          </p>
          <div class="text-center">
            <button class="btn btn-success" routerLink="/carinsurance"> 
            
              Compare Policies
           
            </button>
            </div> 
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
           <h4 class="text-center">
<img class="logox" src="assets/thirdparty.jpg">
             
              Third Party  Insurance
          </h4>
          <p><b>Liability insurance</b> (also called <b>third-party insurance</b>) is a part of the general insurance system of risk financing to protect the purchaser (the "insured") from the risks of liabilities imposed by lawsuits and similar claims.  It protects the insured in the event he or she is sued for claims that come within the coverage of the insurance policy.  Originally, individual companies that faced a common <i>peril</i> formed a group and created a self-help fund out of which to pay compensation should any member incur loss (in other words, a mutual insurance arrangement). The modern system relies on dedicated carriers, usually for-profit, to offer protection against specified perils in consideration of a premium. 
          </p>
          <div class="text-center">
            <button class="btn btn-success" routerLink="/carinsurance"> 
            
              Compare Policies
           
            </button>
            </div> 
        </div>
          
        <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
           <h4 class="text-center">
<img class="logox" src="assets/claims-icon-detail-2.png" style="background-color: white">
             
              Car Insurance Claim
          </h4>
     
     <p>A car insurance claim is a process wherein an insured asks the car insurance company to compensate him/her for the damages that are sustained by his/her car after an accident. ... Since one pays car insurance premium, it is one's right to make a claim when he/she is involved in an accident.
    </p>  
        <div class="text-center">
          <button class="btn btn-success" routerLink="/carinsurance"> 
            
            Compare Policies
         
          </button>
      </div> 
      </div>
     
    </div>
    <br>
    <div class="text-center">
    <button class="btn btn-success">More policies</button>
  </div> 
  </div>
    </div>