<div class="lsignup" style="background-color:#41c5d3; height:1200px;">
    <div class="row">
      <div class="col"></div>
    <div class=" col signupform">
    <div class="logform">
      <h1 class="text-center">sign up</h1>
        <form>
            
                <div class="form-row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label"> First name </label>
                    <input type="text" class="form-control" placeholder="First name" value="">
                  </div>
                  <div class="form-row">
                      <label for="inputEmail3" class="col-sm-4col-form-label">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" value="">
                  </div>
                  <div class="form-row">
                      <label for="inputEmail3" class="col-sm-4col-form-label">Mobile No.</label>
                    <input type="phone" class="form-control" placeholder="9714562455" value="">
                  </div>
              
        <div class="form-row">
          <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
         
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="">
          
        </div>
        <div class="form-row">
          <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
          
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" value="">
         
        </div>
        <div class="form-row">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Confirm Password</label>
            
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" value="">
           
          </div>
      
       <br>
        <div class="form-group row">
          <div class="col-sm-10 text-center">
            <button type="submit" class="btn btn-primary" onclick="alert('Detail Have been saved successfully')">Sign in</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <div class="col"></div>
    </div>
    </div>
    
