<app-nav></app-nav>
<br>
<h4 class="text-center">
    Health plans
</h4>
<br>
<ul class="list-group">
        <li class="list-group-item ">
            <div class="row">
                <div class="col-1">
1.
                </div>
                <div class="col-3">
lorem
                </div>
                
                <div class="col-5">
                        Dapibus ac facilisis in
                    </div>
                <div class="col-3">
                    <button class="btn btn-success" routerLink='/payment'>&#8377;  638 monthly &#8594;</button>
                </div>
            </div>
        </li><li class="list-group-item ">
                <div class="row">
                    <div class="col-1">
    2.
                    </div>
                    <div class="col-3">
    lorem
                    </div>
                    
                    <div class="col-5">
                            Dapibus ac facilisis in
                        </div>
                    <div class="col-3">
                        <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item ">
                    <div class="row">
                        <div class="col-1">
        3.
                        </div>
                        <div class="col-3">
        lorem
                        </div>
                        
                        <div class="col-5">
                                Dapibus ac facilisis in
                            </div>
                        <div class="col-3">
                            <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item ">
                        <div class="row">
                            <div class="col-1">
            4.
                            </div>
                            <div class="col-3">
            lorem
                            </div>
                            
                            <div class="col-5">
                                    Dapibus ac facilisis in
                                </div>
                            <div class="col-3">
                                <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item ">
                            <div class="row">
                                <div class="col-1">
                5.
                                </div>
                                <div class="col-3">
                lorem
                                </div>
                                
                                <div class="col-5">
                                        Dapibus ac facilisis in
                                    </div>
                                <div class="col-3">
                                    <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item ">
                                <div class="row">
                                    <div class="col-1">
                    6.
                                    </div>
                                    <div class="col-3">
                    lorem
                                    </div>
                                    
                                    <div class="col-5">
                                            Dapibus ac facilisis in
                                        </div>
                                    <div class="col-3">
                                        <button class="btn btn-success">&#8377;  638 monthly &#8594; </button>
                                    </div>
                                </div>
                            </li>


                            <li class="list-group-item ">
                                    <div class="row">
                                        <div class="col-1">
                        1.
                                        </div>
                                        <div class="col-3">
                        lorem
                                        </div>
                                        
                                        <div class="col-5">
                                                Dapibus ac facilisis in
                                            </div>
                                        <div class="col-3">
                                            <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                        </div>
                                    </div>
                                </li><li class="list-group-item ">
                                        <div class="row">
                                            <div class="col-1">
                            2.
                                            </div>
                                            <div class="col-3">
                            lorem
                                            </div>
                                            
                                            <div class="col-5">
                                                    Dapibus ac facilisis in
                                                </div>
                                            <div class="col-3">
                                                <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item ">
                                            <div class="row">
                                                <div class="col-1">
                                3.
                                                </div>
                                                <div class="col-3">
                                lorem
                                                </div>
                                                
                                                <div class="col-5">
                                                        Dapibus ac facilisis in
                                                    </div>
                                                <div class="col-3">
                                                    <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="row">
                                                    <div class="col-1">
                                    4.
                                                    </div>
                                                    <div class="col-3">
                                    lorem
                                                    </div>
                                                    
                                                    <div class="col-5">
                                                            Dapibus ac facilisis in
                                                        </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item ">
                                                    <div class="row">
                                                        <div class="col-1">
                                        5.
                                                        </div>
                                                        <div class="col-3">
                                        lorem
                                                        </div>
                                                        
                                                        <div class="col-5">
                                                                Dapibus ac facilisis in
                                                            </div>
                                                        <div class="col-3">
                                                            <button class="btn btn-success">&#8377;  638 monthly &#8594;</button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item ">
                                                        <div class="row">
                                                            <div class="col-1">
                                            6.
                                                            </div>
                                                            <div class="col-3">
                                            lorem
                                                            </div>
                                                            
                                                            <div class="col-5">
                                                                    Dapibus ac facilisis in
                                                                </div>
                                                            <div class="col-3">
                                                                <button class="btn btn-success">&#8377;  638 monthly &#8594; </button>
                                                            </div>
                                                        </div>
                                                    </li>
                            
      </ul>
      <app-footer></app-footer>