
<div class="healthinsurance" id="health">
    <div>
     <h2 class="text-center p-1">Health Insurance</h2>
    </div>
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-12 col-sm-6 border border-success p-3 psect">
    
           <h4 class="text-center">
<img class="logox" src="assets/health1.png">
             
              Health Plans
          </h4>
          <p>Health Insurance Plans and Policies by HDFC Life. ... Health Insurance is a kind of insurance that provides coverage for medical expenses to the policy holder. Depending on the health insurance plan chosen the policy holder can get coverage for critical illness expenses, surgical expenses, hospital expenses etc.
          </p>
          <div class="text-center">
              <button class="btn btn-success" routerLink="/healthplan">
               
                Compare Policies
              </button>
            </div> 
        </div>
        <div class="col-12 col-sm-6 border border-success  p-3 psect">
           <h4 class="text-center">
<img class="logox" src="assets/health2.png" style="background-color: white">
             
              Family Health Plans
          </h4>
          <p>
            A family health plan is a type of health insurance, which covers more than one member of a family for a fixed sum assured in exchange for a single annual premium. Such a policy provides assured coverage to two or more members of a family at the same time, in case they get hospitalized or an ailment is diagnosed.
          </p>
          <div class="text-center">
            <button class="btn btn-success" routerLink="/healthplan">
               
              Compare Policies
            </button>
            </div> 
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
           <h4 class="text-center">
<img class="logox" src="assets/health3.png">
             
              Senior Citizen Health Insurance
          </h4>
       
       <p>
        A senior citizen health insurance plan is designed to offer financial aid for medical treatments to individuals over 60 years of age in their hour of need. Senior citizen health insurance plans offer critical illness cover, cashless hospitalisation, pre-existing disease cover, and a higher sum assured.

       </p>
          <div class="text-center">
            <button class="btn btn-success" routerLink="/healthplan">
               
              Compare Policies
            </button>
            </div> 
        </div>
          
        <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
           <h4 class="text-center">
<img class="logox" src="assets/health4.png">
             
              Critical  Insurance
          </h4>
     
     <p>Critical Illness Insurance Plans provides coverage against specific life threatening diseases. Treating such critical illnesses may require multiple visits to the hospital over a long period of time.
    </p>  
        <div class="text-center">
          <button class="btn btn-success" routerLink="/healthplan">
               
            Compare Policies
          </button>
      </div> 
      </div>
     
    </div>
    <br>
    <div class="text-center">
    <button class="btn btn-success">More policies</button>
  </div> 
  </div>
    </div>