<div class="cnt1">
<div class="signbg">
  <br>
<h4 class="text-center">Sign Up</h4>
<br>
<h5 class="text-center shadow">Create Account <br></h5>
<div>
    <span>First name:</span>
  <input type="text" name="firstname" value="raj">
     

</div>
<!-- <div class="text-dark p-3 row">
<br>
<br>
<div class="col-sm-1"></div>
<div class="col-sm-5">
    <br>
   <span> Last name:</span><br><br>
    <span>Email:</span><br><br>
        <span>Re-email:</span><br><br>

</div>
<div class="col-sm-5">
<br>
  <input type="text" name="lastname" value="kumar"><br><br>
  <input type="email"><br><br>
  <input type="email"><br><br>

  
</div> -->

</div>
</div>
</div>