<!-- <h1 class="text-center">Policy Market</h1> -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <!-- <img class="navbar-brand logo" src="../assets/Policybazaar_logo.png"> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav1s" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active pl-2 lielem">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item pl-2 lielem">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      <li class="nav-item pl-2 lielem">
          <a class="nav-link" routerLink="/lifeinsurance">Life Insurance</a>
        </li>
        <li class="nav-item pl-2 lielem">
          <a class="nav-link" routerLink="/healthinsurance">Health Insurance</a>
        </li>
        <li class="nav-item pl-2 lielem">
          <a class="nav-link"  routerLink="/motorpage">Motor Insurance</a>
        </li>
        
      <li class="nav-item pl-2 lielem">
        <a class="nav-link" href="#about">ABOUT US</a>
      </li>
        <li class="nav-item pl-2 lielem">
            <a class="nav-link" href="#">RENEWAL</a>
          </li>
          <li class="nav-item pl-2 lielem">
            <!-- <a >Dashboard</a> -->
              <a class="nav-link" routerLink="/signup">SIGNUP</a>
            </li>
      <li class="nav-item ml-1 pl-2 lielem">
        <a class=" nav-link" routerLink="/login">LOGIN</a>
      </li>
    </ul>
  </div>
    </nav>
    
    <!-- <router-outlet></router-outlet> -->
