.navbar{
    background-color: #408080 !important;
    /* color: white !important; */

}
.lielem a{
    color: white !important;
    /* margin: 2px; */
}
ul .lielem :hover{
    color: white;
background-color: #000001;
/* z-index: 1; */
/* border: 1px solid black; */
}

.navbar{
    padding: 0px !important;
}
@media only screen and (max-width: 600px) {
    .nav-link{
        text-align: center !important;
    }
}