<div class="lifeinsurance" id="lifeinsurance">
<div>
 <h2 class="text-center p-1 lheading">Life Insurance</h2>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-sm-6 border border-success p-3 psect">
       <h4 class="text-center">
<img class="logox" src="assets/Empire-Life-GIF-.png">
         
          Term Insurance
      </h4>
      <p><b>Term life insurance</b> or <b>term assurance</b> is life insurance that provides <b>coverage</b> for some sum of money during a given period of time.  After the term stated in original contract expires, the sum of money paid to insurance company will need to be renegotiated and will often increase. Term insurance is the cheapest way of buying live insurance.
      </p>
      <div class="text-center">
          <button class="btn btn-success" routerLink="/termpolicy" >
                 Compare Policies
          

            </button>
        </div> 
    </div>
    <div class="col-12 col-sm-6 border border-success  p-3 psect">
       <h4 class="text-center">
<img class="logox" style="background-color:white;" src="assets/switchFund.png">
         
          Investments Plan
      </h4>
      <p><b>Investment</b> or <b>investing</b> means that an asset is bought, or that money is put into a bank to get a future interest from it. Investment is total amount of money spent by a shareholder in buying shares of a company. In economic management sciences, investments means longer-term savings.
      </p>
      <div class="text-center">
          <button class="btn btn-success"  routerLink="/termpolicy" >Compare Policies</button>
        </div> 
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
       <h4 class="text-center">
<img class="logox" style="background-color:white;" src="assets/children_256.png">
         
          child Plan
      </h4>
   
   <p>A child insurance plan is a combination of insurance and investment that ensure a secure future for your child. Life cover is available as a lumpsum payment at the end of policy term. Not just this, these plans also provide flexible payouts at important milestones of your child's education.</p>
      <div class="text-center">
          <button class="btn btn-success"  routerLink="/termpolicy" >Compare Policies</button>
        </div> 
    </div>
      
    <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
       <h4 class="text-center">
<img class="logox" style="background-color:white;" src="assets/pension-plan.png">
         
          Pension Plan
      </h4>
      <p>A <b>pension</b> is a steady income given to someone. If pensions are part of a system of social security, the recipient of the pension is usually retired or disabled. They either have worked a long time during their life, or they are physically unable to do so. A pension is usually paid until a certain date (or event) occurs. In the case of social security plans, pensions are usually linked to the life of the person who receives the pension. 
      </p>  
    <div class="text-center">
    <button class="btn btn-success"  routerLink="/termpolicy" >Compare Policies</button>
  </div> 
  </div>
 
</div>
<div></div>
<br>
<div class="text-center">
    <button class="btn btn-success">More policies</button>
  </div> 
</div>
</div>