<div class="lifeinsurance" id="lifeinsurance">
<div>
 <h2 class="text-center p-1 lheading">Life Insurance</h2>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-sm-6 border border-success p-3 psect">

       <h4 class="text-center">
         
          Term Insurance
      </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis illo molestiae minima aliquam veritatis, voluptates alias at quos suscipit dolorum recusandae pariatur debitis beatae commodi ducimus quod laudantium magnam!</p>
      <div class="text-center">
          <button class="btn btn-success" routerLink='/termpolicy'>
              Compare Policies
            

            </button>
        </div> 
    </div>
    <div class="col-12 col-sm-6 border border-success  p-3 psect">
       <h4 class="text-center">
         
          Investments Plan
      </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis illo molestiae minima aliquam veritatis, voluptates alias at quos suscipit dolorum recusandae pariatur debitis beatae commodi ducimus quod laudantium magnam!</p>
      <div class="text-center">
          <button class="btn btn-success">Compare Policies</button>
        </div> 
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
       <h4 class="text-center">
         
          child Plan
      </h4>
   
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     Corporis nobis illo molestiae minima aliquam veritatis, 
     voluptates alias at quos suscipit dolorum recusandae pariatur debitis beatae
      commodi ducimus quod laudantium magnam!</p>
      <div class="text-center">
          <button class="btn btn-success">Compare Policies</button>
        </div> 
    </div>
      
    <div class="col-12 col-sm-6 border border-top-0 border-success  p-3 psect">
       <h4 class="text-center">
         
          Pension Plan
      </h4>
 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis illo molestiae
    minima aliquam veritatis, voluptates alias at quos suscipit dolorum recusandae pariatu
    r debitis beatae commodi ducimus quod laudantium magnam!</p>  
    <div class="text-center">
    <button class="btn btn-success">Compare Policies</button>
  </div> 
  </div>
 
</div>
<div></div>
<br>
<div class="text-center">
    <button class="btn btn-success">More policies</button>
  </div> 
</div>
</div>