<div class="footer">
<div class="row">
  <div class="col-12 col-sm-3">
    <h3>Compare&Buy</h3>
    <p>Lorem ipsum dolortes ex error quos inventore animi molestias quibusdam, fugiat distinctio blanditiis, debitis iusto aperiam placeat magnam porro hic.

    </p>
    <i class="fas fa-phone fa-2x">  <a href="tel:+012345789">012345789</a></i>
    
  </div>

<div class="col-12 col-sm-3">
  <h4>Popular Policies</h4>
  <ul>
    <li>
        <a href="#">
      Aegon Life Insurance
    </a>
    </li>
    <li>
        <a href="#">
      HDFC Life Insurance.
    </a>
    </li>
    <li>
        <a href="#">
      Bajaj Allianz Life Insurance
    </a>
    </li>
    <li>
        <a href="#">
      Kotak Life Insurance.
    </a></li>
    <li>
        <a href="#">
      Bharti AXA Life Insurance.
    </a>
    </li>
  </ul>
</div>

<div class="col-12 col-sm-3">
<h4>Upcoming policies</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores autem nam reprehenderit consequuntur culpa exercitationem earum! Odio dolore reiciendis sed, eos beatae incidunt ab eius hic reprehenderit soluta amet.

</p>
<a href="#" class="btn btn-secondary">more detail</a>
</div>

<div class="col-12 col-sm-3">
  <h4>Update</h4>
<p>for new updates sign up your email</p>
  <label>
  <input type="email" placeholder="username@company.com">

</label>
<br>
<button class="btn btn-success">Send </button>
</div>
</div>
<hr>
<div class="row">
    <div class=" col-6 col-md-4  ">
     © 2019 All Rights Reserved.
    </div>
    <div class="col-3 col-md-4">
    
      Terms & Conditions
    </div>
    <div class="col-3 col-md-4">
        Privacy Policy
    </div>
</div>
</div>
